@charset "UTF-8";
@font-face {
  font-family: 'LifeHack';
  src: url("../../fonts/Lifehack Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../../fonts/Gagalin/Gagalin-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/Ubuntu/Ubuntu-B.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  font-size: 16px; }

.wrapper {
  height: 100%;
  min-width: 940px; }

.container {
  /* display: block; */
  width: 940px;
  margin: 0 auto; }

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  height: 100vh;
  width: 100%;
  min-height: 650px; }

.arrow {
  display: block;
  position: absolute;
  bottom: 100px;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

h2 {
  font-family: Gagalin;
  font-size: 72px;
  text-transform: uppercase;
  text-align: center; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect 0 0 0 0;
  overflow: hidden; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* border: 1px solid #fff; */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.logo {
  margin: 7px 0 0 -3px;
  overflow: hidden;
  width: 92px;
  height: 69px; }

.menu {
  margin-left: auto; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: #fff;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 13px; }

.menu__item {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  white-space: nowrap; }

.menu__item:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  margin: 0 12px 4px 12px; }

.menu__item:nth-child(1)::before {
  content: ""; }

.menu__link {
  color: #fff;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5;
  -o-transition: 0.5;
  transition: 0.5; }
  .menu__link:hover {
    text-decoration: underline; }

.purchase {
  margin-right: 10px;
  margin-left: 15px;
  background-color: #e25028;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .purchase:hover {
    background-color: black; }

.purchase__button {
  color: #fff;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase; }

.paginator__link {
  cursor: pointer; }

.paginator {
  position: fixed;
  /* display: block; */
  top: 74px;
  right: 26px;
  z-index: 50; }

.paginator__list {
  list-style: none; }

.paginator__item {
  display: block;
  color: #fff;
  /* line-height: 1; */
  margin-bottom: 15px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 300;
  position: relative; }

.paginator__item:nth-child(1):before {
  content: "";
  width: 12px;
  height: 12px;
  /* background-color: red; */
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: -4px; }

.section--start {
  background: url("../img/bg1.jpg") center center no-repeat;
  background-size: cover; }

/* Бургерный блок */
.burger {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 80px; }

.burgerblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -ms-flex-item-align: center;
  align-self: center;
  /* border: 1px solid red; */
  /* width: 900px; */ }

.burgerblock__block {
  width: 50%;
  /* margin: 10px; */ }

.burgerblock__slogan {
  text-align: left;
  padding-left: 20px;
  padding-top: 50px; }

.burger-slogan-naturalburger,
.burger-slogan-wedo {
  /* display: block; */ }

.burgerblock__block-wedo {
  font-size: 72px;
  font-family: Gagalin;
  color: #f8b43a;
  line-height: 1.8; }

.burgerblock__naturalburgers {
  font-size: 65px;
  font-family: LifeHack;
  color: #fff;
  letter-spacing: -1.9px;
  line-height: 0.923; }

.section--best {
  background: url("../img/bg2.jpg") center center no-repeat;
  background-size: cover; }

.best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* border: 1px solid red; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.best__header {
  color: black;
  padding-bottom: 50px; }

.best__list {
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.best__item {
  width: 33%;
  display: inline-block; }

.best_subheader {
  font-size: 24px;
  font-family: "Lifehack";
  padding-bottom: 10px;
  color: #2f3234;
  line-height: 1.167; }

.best__images--meat {
  padding-bottom: 20px; }

.best__images--handmade {
  padding-bottom: 24px; }

.best__images--natural {
  padding-bottom: 34px; }

.best__description {
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 300;
  color: #2f3234;
  opacity: 0.8;
  line-height: 1.714; }

.section-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  width: 100%; }

.reviews {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 0; }

.reviews__block {
  width: 25%;
  height: 50%;
  position: relative; }

.reviews__block:nth-of-type(1) {
  background: url("../img/reviewers/1.jpg") center center no-repeat;
  background-size: cover; }

.reviews__block:nth-of-type(2) {
  background: url("../img/reviewers/2.jpg") center center no-repeat;
  background-size: cover; }

.reviews__block:nth-of-type(3) {
  background: url("../img/reviewers/3.jpg") center center no-repeat;
  background-size: cover; }

.reviews__block:nth-of-type(4) {
  background: url("../img/reviewers/4.jpg") center center no-repeat;
  background-size: cover; }

.reviews__block:nth-of-type(5) {
  background: url("../img/reviewers/5.jpg") center center no-repeat;
  background-size: cover; }

.reviews__block:nth-of-type(6) {
  background: url("../img/reviewers/6.jpg") center center no-repeat;
  background-size: cover; }

.reviews__block:nth-of-type(7) {
  background: url("../img/reviewers/7.jpg") center center no-repeat;
  background-size: cover; }

.reviews__block:nth-of-type(8) {
  background: url("../img/reviewers/8.jpg") center center no-repeat;
  background-size: cover; }

.reviews__block::before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #141414;
  opacity: 0.3;
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear; }

.reviews__block:hover::before {
  display: block; }

.reviews__block:hover > .reviews__hoverblock {
  display: block; }

.reviews__hoverblock {
  display: none;
  position: absolute;
  /* top: 10px;
   left: 10px; */
  width: 90%;
  padding: 20px 0 0 20px; }

.reviews__reviewername {
  font-size: 14px;
  font-family: "Gagalin";
  color: white;
  line-height: 2.008;
  padding-top: 2vh; }

.reviews_reviewertext {
  font-size: 14px;
  font-family: "Ubuntu";
  color: white;
  line-height: 1.714; }

.reviews__reviewerbutton {
  display: inline-block;
  font-size: 13px;
  font-family: "Ubuntu";
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  background-color: #2f3234;
  border-radius: 5px; }

.reviews__reviewerbutton:hover {
  background-color: #1f2122; }
