@charset "UTF-8";
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'LifeHack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  font-size: 18px; }

.wrapper {
  height: 100%;
  min-width: 940px; }

.container {
  /* display: block; */
  width: 940px;
  margin: 0 auto; }

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.container--cloumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  height: 100vh;
  width: 100%;
  min-height: 650px; }

.arrow {
  display: block;
  position: absolute;
  bottom: 100px;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

h2 {
  font-family: Gagalin;
  font-size: 72px;
  text-transform: uppercase;
  text-align: center; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect 0 0 0 0;
  overflow: hidden; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* border: 1px solid #fff; */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.logo {
  margin: 7px 0 0 -3px;
  overflow: hidden;
  width: 92px;
  height: 69px; }

.menu {
  margin-left: auto; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: #fff;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 13px;
  margin-right: 20px;
  line-height: 2.308; }

.menu__item {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle; }

.menu__item::after {
  content: ' ';
  display: inline-block;
  height: 69px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  margin: 0 13px 0 13px; }

.menu__item:last-child::after {
  display: none; }

.menu__link {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5;
  -o-transition: 0.5;
  transition: 0.5; }
  .menu__link:hover {
    text-decoration: underline; }

.paginator__link {
  cursor: pointer; }

.paginator {
  position: fixed;
  /* display: block; */
  top: 74px;
  right: 26px;
  z-index: 50;
  list-style: none; }
  .paginator .active .paginator__link::before {
    width: 14px;
    height: 14px;
    opacity: 1; }

.paginator__item {
  margin-bottom: 5px; }

.paginator__link {
  display: block;
  width: 16px;
  height: 16px;
  position: relative; }
  .paginator__link:before, .paginator__link:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%; }
  .paginator__link:before {
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 1px solid #fff;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .paginator__link:after {
    width: 6px;
    height: 6px;
    background: #fff; }
  .paginator__link:hover:before {
    width: 14px;
    height: 14px;
    opacity: 1; }

.btn {
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: inline-block; }
  .btn:hover {
    background-color: black; }
  .btn_color_orange {
    background-color: #e25028; }
  .btn_color_dark {
    background-color: #2f3234; }
  .btn_nocolor {
    background-color: transparent; }
  .btn_nocolor:hover {
    background-color: transparent; }
  .btn .btn__text {
    color: #fff;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase; }

.section--start {
  background: url("../img/bg1.jpg") center center no-repeat;
  background-size: cover; }

/* Бургерный блок */
.burger {
  -webkit-box-flex: .8;
  -ms-flex: .8;
  flex: .8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.burgerblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -ms-flex-item-align: center;
  align-self: center;
  /* border: 1px solid red; */
  /* width: 900px; */ }

.burgerblock__image {
  overflow: hidden; }

.burgerblock__image-img {
  max-width: 100%; }

.burgerblock__block {
  width: 50%; }

.burgerblock__slogan {
  text-align: left;
  padding-top: 50px; }

.burger-slogan-naturalburger,
.burger-slogan-wedo {
  /* display: block; */ }

.burgerblock__block-wedo {
  font-size: 72px;
  font-family: Gagalin;
  color: #f8b43a;
  line-height: 1.8; }

.burgerblock__naturalburgers {
  font-size: 65px;
  font-family: LifeHack;
  color: #fff;
  letter-spacing: -1.9px;
  line-height: 0.923; }

.section--best {
  background: url("../img/bg2.jpg") center center no-repeat;
  background-size: cover; }

.best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* border: 1px solid red; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.best__header {
  color: black;
  margin-bottom: 40px; }

.best__list {
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.best__item {
  width: 33%;
  display: inline-block; }

.best__subheader {
  font-size: 24px;
  font-family: "Lifehack";
  margin-bottom: 10px;
  color: #2f3234;
  line-height: 1.167; }

.best__images--meat {
  margin-bottom: 20px; }

.best__images--handmade {
  margin-bottom: 24px; }

.best__images--natural {
  margin-bottom: 34px; }

.best__description {
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 300;
  color: #2f3234;
  opacity: 0.8;
  line-height: 1.714; }

.section--reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  width: 100%; }

.reviews {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 0; }

.reviews__block {
  width: 25%;
  height: 50%;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.reviews__block:hover > .reviews__hoverblock {
  display: block; }

.reviews__hoverblock {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px 0 0 20px;
  background-color: rgba(0, 0, 0, 0.6); }

.reviews__reviewername {
  font-size: 14px;
  font-family: "Gagalin";
  color: white;
  line-height: 2.008;
  padding-top: 2vh; }

.reviews__reviewertext {
  font-size: 14px;
  font-family: "Ubuntu";
  color: white;
  line-height: 1.714;
  margin-bottom: 10px; }

.section--team {
  background: url("../img/bg3.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.team {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: #2f3234;
  opacity: 0.93; }

.team__header-h2 {
  font-size: 5rem; }

.team__area {
  margin: 0 6.25rem 0 3.125rem; }

.team__header {
  margin-bottom: 3.125rem; }

.team__header h2 {
  color: #f8b43a; }

.team__item {
  margin-left: 3.125rem; }

.team__link {
  color: white;
  font-family: Gagalin;
  font-size: 14px;
  text-decoration: none;
  line-height: 2.008;
  text-transform: uppercase; }

.team__member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-weight: 300;
  font-family: Ubuntu;
  overflow: hidden;
  height: 0;
  margin: 10px 0 0 20px; }

.team__item--active {
  margin-bottom: 30px; }
  .team__item--active .team__link {
    color: #f8b43a; }
  .team__item--active .team__member {
    height: auto; }
  .team__item--active .team__icon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.member__description {
  font-family: "Ubuntu";
  font-size: 14px;
  color: white;
  margin-left: 15px; }

.member__status {
  display: block;
  font-weight: bold;
  margin-bottom: 15px; }

.team__icon {
  display: inline-block;
  fill: #f8b43a;
  width: 10px;
  height: 10px; }

.section--menu {
  background: url("../img/bg4.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.menu__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
  margin: 0; }

.accordion__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.accordion__link {
  height: 100%;
  width: 80px;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  white-space: nowrap;
  text-decoration: none;
  position: relative; }

.accordion__header {
  font-family: Gagalin;
  font-size: 42px;
  text-transform: uppercase;
  text-align: left;
  vertical-align: top;
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%); }

.accordion__description {
  display: none;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 14px;
  color: white;
  line-height: 1.714;
  padding: 30px;
  width: 400px;
  height: 100%;
  position: relative;
  background-color: rgba(47, 50, 52, 0.93); }

.accordion__item--active .accordion__header {
  color: #f8b43a; }

.accordion__item--active > .accordion__description {
  display: block; }

.accordion__text {
  width: 100%;
  height: 100%; }

.section--contacts {
  background: url("../img/bg5.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.contacts {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 10px 0; }

.contacts__address {
  width: 50%;
  display: block; }

.contacts__address-street {
  color: white;
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 300;
  margin-bottom: 10px; }

.contacts__social {
  width: 50%;
  text-align: right;
  vertical-align: middle; }

.contacts__item {
  display: inline-block;
  margin-right: 15px; }

.network__link {
  text-decoration: none;
  display: inline-block; }

.networks__icon {
  display: inline-block;
  fill: white;
  opacity: 0.3;
  width: 36px;
  height: 36px; }
  .networks__icon:hover {
    opacity: 1; }

.contacts__phonelink {
  color: #e45028;
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: bold;
  text-decoration: none; }

.section--order {
  background: url("../img/bg6.jpg") center center no-repeat;
  background-size: cover;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.order__header {
  width: 100%;
  text-align: center; }

.order__title {
  color: #f8b43a;
  line-height: 0.889;
  margin-bottom: 30px; }

.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.order__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  color: white;
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 300; }
  .order__column:first-child {
    margin-right: 20px; }

.order__string {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }
  .order__string .order__label:last-child {
    margin-right: 0; }

.order__label {
  display: inline-block;
  margin-right: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .order__label_radio {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    white-space: nowrap;
    margin-bottom: 10px; }

.order__input {
  width: 100%;
  display: block;
  border: 0;
  border-radius: 5px;
  color: black;
  padding: 10px;
  margin-top: 10px; }

.order__hidden {
  display: inline-block;
  vertical-align: middle;
  display: none; }
  .order__hidden:checked + .order__radio-fake::after {
    display: block; }
  .order__hidden:checked + .order__checkbox-fake::after {
    display: block; }

.order__radio-fake, .order__checkbox-fake {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #cbcbcb;
  background-color: white;
  position: relative; }

.order__radio-fake {
  border-radius: 50%; }
  .order__radio-fake::after {
    content: "";
    display: none;
    width: 6px;
    height: 6px;
    background: #e35028;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.order__checkbox-fake::after {
  content: "";
  display: none;
  width: 11px;
  height: 9px;
  background: url("../img/checkbox.png") no-repeat no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.order__radio-text {
  display: inline-block;
  vertical-align: middle; }
