.section--best {
    background: url("../img/bg2.jpg") center center no-repeat;
    background-size: cover;
}

.best {
    display: flex;
    flex-direction: column;    
    height: 100vh;
    width: 100%;
    /* border: rem(1px) solid red; */ 
    justify-content: center;
}  
.best__header {    
    color: black;
    margin-bottom: rem(40px);  
}
.best__list {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.best__item {
    width: 33%;
    display: inline-block;
}
.best__subheader {
    font-size: rem(24px);
    font-family: "Lifehack";
    margin-bottom: rem(10px);
    color: $dark;
    line-height: 1.167;      
}
.best__images--meat {
    margin-bottom: rem(20px);
}
.best__images--handmade {
    margin-bottom: rem(24px);
}
.best__images--natural {
    margin-bottom: rem(34px);
}
.best__description {
    font-family: "Ubuntu";
    font-size: rem(14px);
    font-weight: 300;
    color: $dark;
    opacity: 0.8;
    line-height: 1.714;      
}