.section--form {
    background: url("../img/bg6.jpg") center center no-repeat;
    background-size: cover;
    align-items: center;
}
.form__form {
    display: flex;
    }
.form__title {
    color: $yellow;
    line-height: 0.889; 
}
.order__cell {
    width: 50%;
    border: 1px solid red;
    color: white;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 300;
}
.order__string { 
    border: 1px solid yellow;
}
