.section--start {
    background: url("../img/bg1.jpg") center center no-repeat;
    background-size: cover;
}
/* Бургерный блок */
.burger{
    flex: 1;
    display: flex;   
    width: 100%;
    padding-bottom: 80px;
}
.burgerblock {
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;
    /* border: 1px solid red; */
    /* width: 900px; */
}
.burgerblock__image {
    width: 451px;
    height: 359px;
    overflow: hidden;
    }
.burgerblock__block {
    width: 50%;

}
.burgerblock__slogan {
    text-align: left;
    // padding-left: 20px;
    padding-top: 50px;
}

.burger-slogan-naturalburger,
.burger-slogan-wedo {
    /* display: block; */
}

.burgerblock__block-wedo {
    font-size: 72px;
    font-family: Gagalin;
    color: $yellow;
    line-height: 1.8;
}

.burgerblock__naturalburgers {
    font-size: 65px;
    font-family: LifeHack;
    color: #fff;
    letter-spacing: -1.9px;
    line-height: 0.923;
}