.section--start {
    background: url("../img/bg1.jpg") center center no-repeat;
    background-size: cover;
}
/* Бургерный блок */
.burger{
    flex: .8; //Изменено с 1
    // padding-bottom: rem(80px);

    display: flex;   
    width: 100%;
    
    @include tablets {
        padding-top: 50px;
        
       }
}
.burgerblock {
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;
    /* border: rem(1px) solid red; */
    /* width: rem(900px); */

    @include tablets {
     flex-direction: column;
     
    }
}
.burgerblock__image {
    // width: rem(451px);
    // height: rem(359px);
    overflow: hidden;
}
.burgerblock__image-img {
        max-width: 100%;
}
.burgerblock__block {
    width: 50%;
    @include tablets {
        width: 100%;
        text-align: center;
       }
}
.burgerblock__slogan {
    text-align: left;
    // padding-left: rem(20px);
    margin-top: rem(50px);

    @include tablets {
        text-align: center;
        padding-top: rem(30px);
       }
}

.burger-slogan-naturalburger,
.burger-slogan-wedo {
    /* display: block; */
}

.burgerblock__block-wedo {
    font-size: rem(72px);
    font-family: Gagalin;
    color: $yellow;
    line-height: 1.8;
}

.burgerblock__naturalburgers {
    font-size: rem(65px);
    font-family: LifeHack;
    color: #fff;
    // letter-spacing: -1.rem(9px);
    line-height: 0.923;
    position: relative;

    @include tablets {
        margin: 0 10%;
    }
}