.order {
    background: url("../img/bg6.jpg") center center no-repeat;
    background-size: cover;
    align-items: center;
}

.order__header {
    width: 100%;
    text-align: center;
}

.title__order {  
    color: $yellow;
    line-height: 0.889;
    margin-bottom: rem(45px);
    
    @include tablets {
        
        margin-bottom: rem(50px);
    }
    @include phones {
        font-size: 12vw;
        line-height: 1.5;
        margin-bottom: rem(50px);
    }
}

.order__form {
    display: flex;
    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.order__column {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: white;
    font-family: "Ubuntu";
    font-size: rem(14px);
    font-weight: 300;
    &:first-child {
        margin-right: rem(20px);
    }
    @include tablets {
        &:first-child {
            margin: 0;
        }
        width: 70%;
    }
    @include phones {
     
        width: 100%;
        
    }
}

.order__string {
    width: 100%;
    display: flex;
    margin-bottom: rem(15px);
    .order__label:last-child {
        margin-right: 0;
    }

    @include tablets {
        
        margin-bottom: rem(20px);

        &:last-child {
            margin-top: rem(20px);
        }

        &:nth-of-type(3) {
            margin-top: initial;
        }
    }
     
             @include phones {
         justify-content: center;
     
        
    }
}

.order__label {
    outline: none;
    display: inline-block;
    margin-right: rem(20px);
    flex: 1;
    &_radio {
        flex: 0;
        white-space: nowrap;
        // margin-bottom: rem(10px); // border: rem(1px) solid red;
    }
            @include phones {
         justify-content: center;
     }
}

.order__input {
    width: 100%;
    display: block;
    border: 0;
    border-radius: rem(5px);
    color: black;
    padding: rem(10px);
    margin-top: rem(5px);

    &:focus {
        border: 1px solid #e35028; 
        outline: none;
       }
    
}

.order__hidden { 

    display: inline-block;
    vertical-align: middle;

    //  display: none; 

    &:checked+.order__radio-fake::after, &:focus+.order__radio-fake::after {
        display: block;
    }
    &:checked+.order__checkbox-fake::after, &:focus+.order__checkbox-fake::after {
        display: block;
    }
}

.order__radio-fake,
.order__checkbox-fake {
    width: rem(16px);
    height: rem(16px);
    display: inline-block;
    vertical-align: middle;
    border: rem(1px) solid #cbcbcb;
    background-color: white;
    position: relative;
}

.order__radio-fake {
    border-radius: 50%;
    &::after {
        content: "";
        display: none;
        width: rem(6px);
        height: rem(6px);
        background: #e35028;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.order__checkbox-fake {
    &::after {
        content: "";
        display: none;
        width: rem(11px);
        height: rem(9px);
        background: url("../img/checkbox.png") no-repeat no-repeat;
        background-size: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 
}

.order__radio-text {
    display: inline-block;
    vertical-align: middle;
}
.order__textarea {
    height: rem(110px);
    resize: none;
}
