.section--order {
    background: url("../img/bg6.jpg") center center no-repeat;
    background-size: cover;
    align-items: center;
}
.order__header {
    width: 100%;
    text-align: center;

}
.order__title {
    color: $yellow;
    line-height: 0.889;
    margin-bottom: 30px;
}
.order__form {
    display: flex;

}

.order__column {
    display: flex;
    flex-direction: column;

    width: 50%;

    color: white;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 300;
}

.order__string {

    width: 100%;
    display: flex;
}
.order__label {
    display: inline-block;
    margin-right: 20px;
    flex: 1;

    &_radio {
        flex: 0;
        white-space: nowrap;
        margin-bottom: 10px;
        // border: 1px solid red;

    }
}
.order__input {
    width: 100%;
    display: block;
    border: 0;
    border-radius: 5px;
    color: black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.order__hidden {
    display: inline-block;
    vertical-align: middle;
    display: none;

    // @include circle (4px, #fff);
    &:checked + .order__radio-fake::after {
        display: block;
    }
    &:checked + .order__checkbox-fake::after {
        display: block;
    }

}

.order__radio-fake, .order__checkbox-fake {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #cbcbcb;
    background-color: white;
    position: relative;
}
.order__radio-fake {
   
    border-radius: 50%;

    &::after {
        content: "";
        display: none;
        width: 8px;
        height: 8px;
        background: #f89513;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.order__checkbox-fake {
    &::after {
        content: "";
        display: none;
        width: 11px;
        height: 9px;
        background: url("../img/checkbox.png") no-repeat no-repeat;
        background-size: cover;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.order__radio-text {
    display: inline-block;
    vertical-align: middle;
}
