.reviews {
    display: flex;
    vertical-align: middle;
    width: 100%;

    .btn {
        align-self: flex-start;

        @include tablets {
            align-self: center;
        }
    }
}

.reviews__list {    
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    align-items: flex-start;
    font-size: 0;
}
.reviews__block {
    width: 25%;
    height: 50%;
    position: relative;
    background-size: cover;

    background-position:  center center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    @include tablets {
        width: 50%;
        height: 25%;
    }
}

.reviews__block:hover>.reviews__hoverblock {
    display: flex;
}

.reviews__hoverblock {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: rem(20px);
    background-color: rgba($color: #000000, $alpha: 0.6);
    @include tablets {     
        text-align: center; 
        justify-content: center;  
        padding: rem(5px) rem(5px) 0 rem(5px);
        // transform: translateY(-25%);
    }
}

.reviews__reviewername {
    font-size: rem(14px);
    font-family: "Gagalin";
    color: rgb(255, 255, 255);
    line-height: 2.008;
    margin-top: 2vh;
    @include tablets {
        padding: 0;
       
    }
    @include middle658 {
        font-size: rem(28px);
        line-height: initial;
        margin-top: rem(20px);
        margin-bottom: rem(30px);
    }
    @include phones {
        margin-top: 0;
    }
}

.reviews__reviewertext {
    font-size: rem(14px);
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.714;
    margin-bottom: rem(10px);

    @include tablets {
       
    }
    
    @include middle658 {
     display: none;
    }
}
