.section-reviews {
    display: flex;
    vertical-align: middle;
    width: 100%;
}

.reviews {    
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    align-items: flex-start;
    font-size: 0;
}
.reviews__block {
    width: 25%;
    height: 50%;
    position: relative;
    background-size: cover;

    background-position:  center center;
    background-repeat: no-repeat;
}

.reviews__block::before {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #141414;
    opacity: 0.7;
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}

.reviews__block:hover::before {
    display: block;
}

.reviews__block:hover>.reviews__hoverblock {
    display: block;
}

.reviews__hoverblock {
    display: none;
    position: absolute;
    /* top: 10px;
   left: 10px; */
    width: 90%;
    padding: 20px 0 0 20px;
}

.reviews__reviewername {
    font-size: 14px;
    font-family: "Gagalin";
    color: rgb(255, 255, 255);
    line-height: 2.008;
    padding-top: 2vh;
}

.reviews__reviewertext {
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.714;
}

.reviews__reviewerbutton {
    display: inline-block;
    font-size: 13px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: $dark;
    border-radius: 5px;
}

.reviews__reviewerbutton:hover {
    background-color: #1f2122;
}
