.section--reviews {
    display: flex;
    vertical-align: middle;
    width: 100%;
}

.reviews {    
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    align-items: flex-start;
    font-size: 0;
}
.reviews__block {
    width: 25%;
    height: 50%;
    position: relative;
    background-size: cover;

    background-position:  center center;
    background-repeat: no-repeat;
}

.reviews__block:hover>.reviews__hoverblock {
    display: block;
}

.reviews__hoverblock {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px 0 0 20px;
    background-color: rgba($color: #000000, $alpha: 0.6)
}

.reviews__reviewername {
    font-size: 14px;
    font-family: "Gagalin";
    color: rgb(255, 255, 255);
    line-height: 2.008;
    padding-top: 2vh;
}

.reviews__reviewertext {
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.714;
    margin-bottom: 10px;
}
