.slider {
    background: linear-gradient(#f9b43b, #eb8c38 50%, #f9b43b 75%);
    justify-content: center;
    align-items: center;
}

.slider-container {
    height: rem(475px);
    width: 1100px;
    @include middle1220 {
        width: 800px;
    }
    @include middle940 {
        height: 90%;
        width: 700px;
    }
    @include tablets {
        width: 400px;
    }
    @include phones {
        width: 300px;
    }
    @include smallphones {
        width: 200px;
    }
}

.slider__links-left {
    display: block;
    position: absolute;
    top: 50%;
    left: -5%;
    @include middle1220 {
        left: -5%;
    }
    @include middle940 {
        left: 2%;
        z-index: 50;
    }
    @include tablets {
        left: -10%;
    }
    @include phones {
        left: -15px;
    }
}

.slider__links-right {
    display: block;
    position: absolute;
    top: 50%;
    right: -5%;
    transform: scaleX(-1) translateY(-3px);
    @include middle1220 {
        right: -5%;
    }
    @include middle940 {
        right: 2%;
        z-index: 50;
    }
    @include tablets {
        right: -10%;
    }
    @include phones {
        right: -15px;
    }
}

.slider__arrows {
    height: 33px;
    @include phones {
        width: 75%;
        height: 75%;
    }
}

.slider__center {
    position: relative;
    height: 100%;
}

.slider__links {
    display: block;
    position: absolute;
    top: 50%;
}

.slider__wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%; // height: rem(475px);
}

.slider__list {
    height: 100%;
    left: 0;
    position: absolute;
    display: flex;
    transition: 1s;
}

.slider__item {
    // display: block;
    // width: 100%;
    height: 100%;
    width: 940px;
    @include middle1220 {
        width: 800px;
    }
    @include middle940 {
        width: 700px;
    }
    @include tablets {
        width: 400px;
    }
    @include phones {
        width: 300px;
    }
    @include smallphones {
        width: 200px;
    }
}

.slider__center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    @include middle940 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.slider__burger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; // width: 50%;
    //  margin-bottom: rem(40px;
    @include phones {
        height: 50%;
    }
    @include smallphones {
        height: initial;
    }
}

.slider__menu {
    position: absolute;
    width: rem(90px);
    height: rem(90px);
    background-color: #eb8c38;
    border-radius: 5px;
    top: 0;
    left: 0;
    &:hover {
        background-color: #e35028;
        cursor: pointer;
    }
    @include phones {}
}

.slider__submenu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: rem(270px);
    left: rem(90px);
    top: 0; // height: rem(340px);
    border-radius: 5px;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    padding: rem(20px);
    @include phones {}
}

.submenu__pos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: rem(5px);
    &:last-child {
        margin-bottom: 0;
    }
}

.submenu__pos-ingr {
    flex: 1;
    margin-left: rem(10px);
    font-size: rem(14px);
    font-family: "Ubuntu";
    color: rgb(47, 50, 52);
}

.submenu__pos-mass {
    font-size: rem(14px);
    font-family: "Ubuntu";
    color: rgb(47, 50, 52);
}

.submenu__pos-icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(45px);
    height: rem(45px);
    @include phones {
        width: rem(25px);
        height: rem(25px);
    }
}

.slider__image {
    max-width: 100%;
    @include middle940 {
        margin-top: 90px;
    }
    @include phones {
        margin-top: 90px;
        max-width: 90%;
    }
    @include smallphones {
        margin-top: 10px;
    }
}

.slider__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: left;
    @include middle940 {
        text-align: center;
        width: initial;
    }
}

.title__slider {
    text-align: left;
    @include middle940 {
        text-align: center;
    }
    @include phones {
        font-size: rem(50px);
    }
}

.slider__text-desc,
.slider__text-header,
.slider__text-price {
    width: 100%; //  height: 33%;
    vertical-align: middle;
    margin: 20px 0;

    @include smallphones {
        margin: 5px;
    }
}

.slider__text-desc {
    font-size: rem(14px);
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.714;
}

.slider__text-sum {
    display: inline-block;
    font-size: rem(30px);
    font-family: "Gagalin";
    color: rgb(227, 80, 40);
    @include middle940 {
        margin-right: 20px;
    }
}

.slider__text-sum-figure {
    font-size: rem(72px);
}
