.section-team {
    background: url("../img/bg3.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
}
.team {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    width: 50%;
    right: 0;

    background-color: $dark;
    opacity: 0.93;
}
.team__header-h2 {
    font-size: rem(80px);
}
.team__area {
    // border: 1px solid yellow;
    margin: 0 rem(100px) 0 rem(50px);
}
.team__header {
    margin-bottom: rem(50px);
}
.team__header h2 {
    color: $yellow;
}
.team__item {
    margin-left: rem(50px);
}
.team__link {
    color: white;
    font-family: Gagalin;
    font-size: 14px;
    text-decoration: none;
    line-height: 2.008;
    text-transform: uppercase;
}
.team__member {
    display: flex;
    color: white;
    font-weight: 300;
    font-family: Ubuntu;
    overflow: hidden;
    height: 0;
}
.team__item--active {

    .team__link {
        color: $yellow;
    }
    .team__member {
        height: 100px;
    }
}
.team__image {}
.team__status {
    
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}
.team__description {
    padding-left: 50px;
    font-size: 14px;

}
.team__icon {
    display: inline-block;
    // vertical-align: middle;

    fill: $yellow;
    width: 10px;
    height: 10px;


}
.team__item--active > .team__icon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
