@mixin circle ($width, $color) {
    width: $width;
    height: $width;
    border-radius: $width/2;
    background-color: $color;
}

@mixin tablets () {
    @media (max-width: $tablets) {
        @content;
    }
}

@mixin phones () {
    @media (max-width: $phones) {
        @content;
    }
}
@mixin middle658 () {
    @media (max-width: $middle658) {
        @content;
    }
}


@function rem($px) {
    @return $px / 16px+0rem;
}