.section-menu {
  position: relative; }

.menu__first {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/menu/1.jpg") center center no-repeat;
  background-size: cover;
  border: 1px solid red; }
