.btn {

    border-radius: rem(5px);
    padding: rem(7px) rem(15px);
    transition: .5s; 
    display: inline-block;

    &:hover {
        background-color: black; //darken ($orange, 7%);
    }
    &_color_orange {
        background-color: $orange;
    }
    &_color_dark {
        background-color: $dark;
    }
    &_nocolor {
        background-color: transparent;

        &:hover {
            background-color: transparent; 
        }
    }
    .btn__text {
        color: #fff;
        font-family: Ubuntu;
        font-size: rem(13px);
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
    }
}
