.paginator {
    position: fixed;
    /* display: block; */
    top: 74px;
    right: 26px;
    z-index: 50;
    list-style: none;

    .active {
        .paginator__link::before {
            width: 14px;
            height: 14px;
            opacity: 1;
        }
    }

    @include tablets {
        display: none;
    }
}
.paginator__item {
    margin-bottom: 5px;
}

.paginator__link {
    display: block;
    width: 16px;
    height: 16px;
    position: relative;

    &:before, &:after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        // border-color: #fff;
      }

      &:before{
        width: 0;
        height: 0;
        border-radius: 50%;
        border: 1px solid #fff;
        opacity: 0;
        transition: .3s;
      }
      &:after{
        width: 6px;
        height: 6px;
        background: #fff;
      }
      &:hover:before{
        width: 14px;
        height: 14px;
        opacity: 1;
      }
    }


